    .test {background: #00ff00;}
    #table input {display: inline; width: 80px;}
    #excel {width: 100%; margin-top: 100px;}
    #excel #mainbar {width: 100%; float: left; display:block; overflow:scroll;}
    #excel table {width: 100%;}
    #excel #sidebar {width: 25%; float: left; display:table-cell; background: #00FFFF; height: 100%;}
    #function {width: 100%; font-size: 14pt; margin-bottom: 5px;}

    /*body {background-color: #F3FFFF; font-family: sans-serif;}*/
    body {margin: 0px!important;}
    #header {background-color: #50CBDB; width: 100%; height: 100px; position: absolute; top: 0px; left: 0px;}
    #header h1 {color: #FFFFFF; margin-top: 20px; margin-left: 2%; font-family: sans-serif; font-size: 40pt}
    #header a {color: #FFFFFF; text-decoration: none;}
    #main {width: 75%; position: absolute; top: 200px; left: 12.5%;}
    .centrallink {background-color: #50CBDB; float: left; width: 30%; margin-right: 5%; text-align: center; font-size: 24pt; font-family: sans-serif; padding-bottom: 10px;}
    .centrallink img {width: 75%;}
    .centrallink a {color: #003333; text-decoration: none;}
    *, *:after, *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
          }


    .webix_view {overflow: scroll!important; margin: 0px!important; padding: 0px!important; border: 0px!important;}
    
    #layout_div {margin-left: 2%!important; margin-right: 2%!important; position: absolute; top: 105px; left: 0px; width: 96%!important;}

    #sidebar {background-color: #EEE!important;height: 100%;}