    .test {background: #00ff00;}
    td {width: 100px;}
    input {display: inline; width: 80px;}
    #excel {width: 75%; margin-left: 12.5%; margin-top: 100px;}
    table {display: block; width: 100%;}

    body {background-color: #F3FFFF;}
    #header {background-color: #003333; width: 100%; height: 50px; position: absolute; top: 0px; left: 0px;}
    #header h1 {color: #FFFFFF; margin-top: 5px; margin-left: 12.5%; font-family: sans-serif;}
    #main {width: 75%; position: absolute; top: 200px; left: 12.5%;}
    .centrallink {background-color: #00FFFF; float: left; width: 30%; margin-right: 5%; text-align: center; font-size: 24pt; font-family: sans-serif; padding-bottom: 10px;}
    .centrallink img {width: 75%;}
    .centrallink a {color: #003333; text-decoration: none;}
    *, *:after, *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
          }
