/*LOCKED TO IOS!*/
/* IPHONE */
@media only screen
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #contentwrap {position:absolute!important;min-height: 100vh!important; height: auto!important}
    #container {position: absolute!important;overflow: scroll!important; min-height: 100vh!important; height: auto!important}
    #scrollable  {display: none;}
    .content {height: auto!important; min-height: 100vh;}
    .links{padding-top: 80px;}
}

.z9 {z-index: 9!important;}
.z8 {z-index: 8!important;}
.z7 {z-index: 7!important;}
.z6 {z-index: 6!important;}
.z5 {z-index: 5!important;}
.z4 {z-index: 4!important;}
.z3 {z-index: 3!important;}
.z2 {z-index: 2!important;}
.z1 {z-index: 1!important;}

* { margin: 0; z-index: auto }
.anim {
    transition: all .15s linear;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #2FABFF;
    font-family: "AvenirNext-Medium",  "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#scrollable {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contentwrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 900%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: #F9F9F9;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.2);
    height: 100vh;
    top: 0px;
    float: left;
    z-index: 1;
    padding-left: 32px;
    padding-right: 32px;
}

.content .inner .workimg img {
    position: relative;
    object-fit: cover; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content .inner .workimg {
    /*box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,.35);*/
    /*background-color: rgba(255,255,255, .2);*/
    display: inline-block;
    margin: 10px;
    border: 4px solid rgba(255,255,255, .25);
    /*border-bottom: 48px solid #F9F9F9;*/
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,.15);
}

.content .inner .workimg:hover {
    /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,.35);*/
    background-color: rgba(255,255,255, .05);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,.15);
}

.content.lg .inner .workimg {
    width: 45%; 
    height: 30vh;
}

.content.md .inner .workimg {
    width: 85%; 
    height: 25vh;
}

.content.sm .inner .workimg {
    width: 90%; 
    height: 20vh;
}

.sectionhead .card {
    display: inline-block;
    /*border: 4px solid rgba(255,255,255, .25);*/
    border: 1px solid rgba(0,0,0,.2);
    /*box-shadow: 0px 0px 6px 2px rgba(0,0,0,.15);*/
    /*padding: 12px;*/
    padding-top: 12px;
    padding-bottom: 20px;
    margin-bottom: 24px;
    width: 95%;
    margin-top: 10px;
}

.sectionhead .card * {text-align: center; padding: 0px;}
.sectionhead .card p {font-weight: 100; font-size: 10pt}
.sectionhead .card p i {font-weight: 300;font-size: 12pt;}
.sectionhead .card h2 {font-weight: 100; font-size: 16pt; color: #2FABFF;}
.sectionhead .card hr {margin-top: 12px!important;margin-bottom: 12px!important; width: 100%!important;padding: 0px!important}

.content .inner .sectionhead {text-align: center}

.content .inner .sectionhead hr {margin-top: 32px;margin-bottom: 32px; opacity: .5; width: 75%; display: inline-block;}

.content .inner .sectionhead .headimg {display: inline-block;width: 50%; height: auto; max-width: 150px}

h1, h2 {text-align: center; padding-top: 32px; font-size: 24pt; font-weight: 100}

h3, h4, h5, h6 {text-align: left;padding-top: 1.25em;}

.content .inner {
    margin: 0;
    display: block; 
    height: auto; 
    width: 95%;
    overflow: scroll; 
    top: 0vh; 
    position: relative; 
    padding-top: 64px; 
    padding-bottom: 8vh;
    font-size: 11pt;
}

.content .after {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2.5%;
    height: 12vh;
    width: 95%;
    background-image: linear-gradient(0deg, #F9F9F9 0%, rgba(249,249,249,0.00) 100%);
}

.content .before {
    display: block;
    position: absolute;
    top: 0px;
    left: 2.5%;
    height: 12vh;
    width: 95%;
    z-index: 5;
    background-image: linear-gradient(-180deg, #F9F9F9 0%, rgba(249,249,249,0.00) 100%);
}

.content:nth-child(even) .before {background-image: linear-gradient(-180deg, #ECECEC 0%, rgba(236,236,236,0.00) 100%);}
.content:nth-child(even) .after {background-image: linear-gradient(0deg, #ECECEC 0%, rgba(236,236,236,0.00) 100%);}

.content .inner::-webkit-scrollbar { display: none;}


.content:nth-child(even) {
    background: #ECECEC;
    /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);*/
    box-shadow: 0px 0px 12px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.2);
    float: left;
    z-index: 0;
}

.content:last-child {
    margin-right: 10px;   
}

.content:first-child {
    margin-left:90px;
}

.content.menuopen:first-child {
    margin-left: 280px;
}

.lg {
    max-width: 800px;
    width: 45vw;
    min-width: 750px;
}

.md {
    max-width: 550px;
    width: 30vw;
    min-width: 400px;
}

.sm {
    max-width: 350px;
    width: 20vw;
    min-width: 300px;
}

#sidenav {
    z-index: 20;
    position: fixed;
    width: 90px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #363636 url('/NameBrackets.png') no-repeat;
    background-size: 71px auto;
    background-position: 50% 90px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.2);
    opacity: 1;
    
}
#sidenav.menuc {width: 280px;}

#sidenav.menuc .links a {padding-left: 0px;}

#sidenav .links a {padding-left: 0px;}

#sidenav .links a .expandedlinks hr {
    display: block;
    color: black;
    opacity: .05;
    width: 0%;
    margin-left: 50%;
    margin-bottom: 12px;
}

#sidenav.menuc .links a.selected .expandedlinks hr {
    display: block;
    opacity: .1;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.expandedlinks {
    height: 0%;
    position: relative;
    display: block;
    width: 0%;
    overflow: hidden;
}
.innerlink {
    position: relative;
    font-size: 10pt;
    color: black;
    vertical-align: middle;
}

#sidenav.menuc .links a.selected .expandedlinks {
    height: auto;
    width: 100%;
}

#sidenav .logolink {display: flex; flex-direction: row;
  align-items: center; width: 100%;height: auto;    position: absolute;
    top: 12px; left: 0px;}

#sidenav .logolink img {
    display: inline;
    margin-left: auto; margin-right: auto;
    z-index: 20;
    width: 62px;
    height: auto;
    transition: all .15s linear;
    /*transform: translate(-50%, -50%);*/
}

#sidenav a img.menuclick {
    transition: all .15s linear .15s;
    transform: rotate(60deg);
}

nav {
    display: block;
   position: relative;
   top: 0px; left: 0px; 
    height: 100%;
    padding-top: 131px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center; height: 100vh;position: relative;top: -139px;left: 0px;}

nav a {
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    text-size: 18pt;
    font-family: sans-serif;
    text-decoration: none;
    font-family: "AvenirNext-Medium",  "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    color: #ECF0F1;
    letter-spacing: 1.31px;
    background-color: #363636;
    z-index: 5;

    overflow-y: hidden;
}

nav a.selected {
    color:  #2FABFF;
    z-index: 4;
    box-shadow: none!important;
    padding-right: 0px;
}

nav a:nth-child(even).selected {
    background-color: #ECECEC;
}

nav a:nth-child(odd).selected {
    background-color: #F9F9F9;
}

nav a.selected:hover {
    opacity: 1;
}

nav a:hover {
    opacity: .85;
    z-index: 0;
}


.amp {
    position: relative;
    font-size: .8em;
    font-weight: 100;
    bottom: .1em;
}

p.l {
    text-align: left!important;
    text-indent: 2em;
    padding-top: 6px!important;
    padding-bottom: 10px!important;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12pt!important;
}

p.home {
    font-weight: 100;
    font-size: 12pt!important;
}
.em {
    color: #2FABFF;
    font-size: 1.2em;
    text-transform: uppercase;
}

.vcenter {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vcenter p.home {
    display: inline-block;
    flex: auto;
}

.vcenter img {
    height: 100%;
    position: relative;
    margin-right:12px;
}



#menubutton, #menubutton * {padding: 0px; margin: 0px}

#menubutton.ani .an {opacity: 1; transition: all .15s linear}
#menubutton.ani .an:nth-child(2) {opacity: 1; transition: all .15s linear .15s}

#menubutton .an {opacity: 1; transition: all .15s linear .15s}
#menubutton .an:nth-child(2) {opacity: 1; transition: all .15s linear}

#menubutton {position: absolute; top: 0px;left: 0px;
  display: flex; flex-direction: row;width: 100%; height: 90px;
  align-items: center;z-index: 100;
  }

/*#menubutton { background: rgba(47,171,255,.75);}*/

#menubutton #menuwrap {position: relative;width:38px; height: 34px;top: -10px; margin-left: auto; margin-right: auto;}

#menubutton .menu {position: absolute;width: 38px; height: 34px;top: 0px; left: 0px;
display: flex; flex-direction: column;justify-content: space-between; align-items: center;}

#menubutton .barz {
  display: block; width: 95%; background-color: #EFEFEF;height: 6px;color: white;z-index: 10;
  border-radius: 3px; opacity: .15!important;
  }

#menubutton.ani .menu {}

#menubutton .barz:first-child {margin-top: 3px;}
#menubutton .barz:last-child {margin-bottom:3px;}

#menubutton.ani .menu:first-child .barz:nth-child(2) {background: #2FABFF;transform: rotate(45deg);opacity: 1!important}
#menubutton.ani .menu:last-child .barz:nth-child(2) {background: #2FABFF;transform: rotate(-45deg);opacity: 1!important}

#menubutton.ani .barz:first-child {opacity: 0!important}
#menubutton.ani .barz:last-child {opacity: 0!important}


